* {
    box-sizing: border-box;
    margin: 0;
    pad: 0;
    box-shadow: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 5px;
    text-align: center;
    background: white;
  }
  
  .header h3 {
    font-size: 35px;
  }
  
  /* Menerapkan style pada navigation bar atas */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Menerapkan style di link pada navigation bar atas */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Menguah warna saat navbar disentuh */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Buat dua kolom berbeda yang mengapung di sebelah satu sama lain
   */
  /* Kolom kiri */
  .kolomkiri {   
    float: left;
    width: 75%;
  }
  
  /* Kolom kanan */
  .kolomkanan {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Gambar */
  .gambar {
    background-color: #f0f0f0;
    width: 100%;
    padding: 10px;
    border-radius: 20px;

  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Menambahkan efek gambar pada artikel */
  .kartunama {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Menghapus float setelah kolom */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 5px;
    text-align: center;
    background: #bababa;
    margin-top: 2px;
  }

  .h2 {
    text-align: center;
  }
  .h5 {
    text-align: center;
  }

  /* Pengaturan Layout Product */
  .card {
    color: white;
    float: left;
    width: calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 400px;
 }
 .card p {
    font-size: 18px;
 }
 .cardContainer:after {
    content: "";
    display: table;
    clear: both;
 }

 .tombol{
  /*ubah warna background*/
  background-color: #aa8af0;
  /*ubah warna teks*/
  color: white;
  /*menghilangkan border*/
  border: none;
/*atur sudut border*/
  border-radius: 5px;
  /*efek bayangan*/
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  /*teks rata tengah*/
  text-align: center;
  /*ubah jarak margin/luar*/
  margin: 5px 2px;
  /*ubah jarak padding/dalam*/
  padding: 10px 15px;
  /*ubah tampilan kursor ketika berada diatas elemen*/
  cursor: pointer;
}
.tombol:hover{
  /*ubah warna background ketika kursor berada diatas elemen*/
  background-color: #6514ac;
}
  
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
 